<% layout("/layouts/boilerplate") %>

<style>
  #filters{
  
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    
  }
  .filter{
    text-align: center;
    margin-right: 1.5rem;
    opacity: 0.7;
   
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
    border-bottom: 2px solid black;
   
  }  

  .icon-container {
    text-align: center;
  display: inline-block;
  position: relative;
  padding: 8px;
  cursor: pointer;
  opacity: 0.7;
}
.icon-container p{
  font-size: 0.8rem;
}

.icon-container::after {
  content: '';
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color:  #fe424d; /* Customize color */
  transition: transform 0.5s ease;
} 
.icon-container:hover{
  font-weight: 900;
  opacity: 1;
}

.icon-container:hover::after {
  transform: translateX(-50%) scaleX(1);
  
}

.tax-info{
  display: none;
  
}

.tax-toggle{
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 3.25rem;
  border-radius: 1rem;
  padding: 1rem;
 
}

#filters a{
  text-decoration: none;
  color: black;
}




</style>

<body>
    <!-- <h3> All Listings</h3> -->
    <!-- <a href="/listings/new"><button>Add new listing</button></a> -->

       <!-- Mobile Filter Toggle Button -->
<!-- Container to help with right alignment -->
<div class="d-flex justify-content-end ps-3">
  <button class="btn btn-outline d-md-none mb-2 mt-2" id="toggleFiltersBtn">
    Show Filters <i class="fa-solid fa-filter"></i>
  </button>
</div>


     <div id="filters" class="d-none d-md-flex flex-wrap gap-3" >
      <div class="icon-container">
         <a href="/listings/category/trending"><div><i class="fa-solid fa-fire"></i><p> Trending</p> </div></a>
          
      </div>

      <div class="icon-container">
        <a href="/listings/category/rooms"><div> <i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p></a>
      </div>
      
      <div class="icon-container">
        <a href="/listings/category/iconic_cities"> <div> <i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p></a>
       
      </div>

      <div class="icon-container">
        <a href="/listings/category/mountains"> <div> <i class="fa-solid fa-mountain-sun"></i></div>
          <p>Mountains</p>
       </div></a>
       
      
      <div class="icon-container">
        <a href="/listings/category/castles"> <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </div></a>
       

      <div class="icon-container">
        <a href="/listings/category/amazing_pool"> <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing pool</p>
       </div></a>
       

       <div class="icon-container">
        <a href="/listings/category/camping"> <div> <i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
       </div></a>
       
      
      <div class="icon-container">
        <a href="/listings/category/farm"><div><i class="fa-solid fa-wheat-awn"></i></div>
          <p>Farm</p>
        </div></a>
        

      <div class="icon-container">
        <a href="/listings/category/arctic"> <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Arctic</p>
       </div> </a>
       

      <div class="icon-container">
        <a href="/listings/category/dome"><div><i class="fa-solid fa-igloo"></i></div>
          <p>Dome</p>
        </div></a>
        

      <!-- <div class="icon-container">
        <div><i class="fa-solid fa-ship"></i></div>
         <p>Boats</p>
      </div>  -->
    

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display total after tax</label>
        </div>
      </div>
    </div>

     
     
    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-2 row-cols-2 g-2 mt-2"  data-aos="fade-up">
        <% for( let listing of allListings ) { %>
            <a href="/listings/<%= listing._id %> " class="listing-link">
                <div class="card col listing-card" data-aos="fade-up" >
             
                    <img src="<%= listing.image.url%>" class="card-img-top" alt="Listing_img" style="height: 190px;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                       <b><%= listing.title %></b>  <br>
                        &#8377;<%= listing.price.toLocaleString('en-IN') %>/night  <i  class="tax-info">&nbsp; + 18% GST</i> <br>
                      
                      </p>
                    </div>
                  </div>
            </a>
           
              <% } %>
    </div>
  
   
</body>


<script>
  let priceSwitch=document.getElementById("switchCheckDefault");
  priceSwitch.addEventListener("click",()=>{
     //console.log(priceSwitch.checked);
     let taxinfo = document.getElementsByClassName("tax-info");
    // console.log(tax[0]);
     for(info of taxinfo){
        if(priceSwitch.checked){
          info.style.display="inline";
        }
        else{
          info.style.display="none";
        }
            
     }
    

  })



  const toggleBtn = document.getElementById("toggleFiltersBtn");
  const filters = document.getElementById("filters");

  toggleBtn.addEventListener("click", () => {
    filters.classList.toggle("d-none");
    filters.classList.toggle("d-flex");

    // Optional: update button text
    if (filters.classList.contains("d-none")) {
      toggleBtn.innerHTML = `Show Filters <i class="fa-solid fa-filter"></i>`;
    } else {
      toggleBtn.innerHTML =`Hide Filters <i class="fa-solid fa-filter"></i>`;
    }
  });


  

</script>
